@using Microsoft.IdentityModel.Tokens
@model List<Patient>

@{
    ViewBag.Title = "Services";

    string TruncateUserId(string userId, int maxLength)
    {
        if (userId.Length <= maxLength)
        {
            return userId;
        }
        else
        {
            return userId.Substring(0, maxLength) + "..."; // Display the first "maxLength" characters with ellipsis
        }
    }
}

<section class="container p-4">
    <h2>@ViewData["Title"]</h2>
    <div class="services-container d-flex">
        <div class="services-form">
            <!-- Dropend buttons -->
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    Patients
                </button>
                <ul class="dropdown-menu my-2 bg-secondary">
                    <li>
                        <div class="dropdown-item">
                            <h3>List all patients</h3>
                            @using (Html.BeginForm("ListPatients", "Services", FormMethod.Post, new { @class = "mx-4" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-primary my-2">List all patients</button>
                            }
                        </div>
                    </li>
                    <li>
                        <div class="dropdown-item">
                            <h3>Find a patient</h3>
                            @using (Html.BeginForm("GetOnePatient", "Services", FormMethod.Post, new { @class = "mx-4" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <input type="text" class="form-control" id="query" name="query" placeholder="Enter a query">
                                </div>
                                <button type="submit" class="btn btn-primary my-2">Search</button>
                            }
                        </div>
                    </li>
                    <li>
                       <div class="dropdown-item dropend">
                           <h3>Create patient</h3>
                           <button class="btn btn-primary my-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                               Create form
                           </button>
                           <ul class="dropdown-menu bg-secondary submenu">
                               <li>
                                   <div class="dropdown-item">
                                        <h3>New patient</h3>
                                       @using (Html.BeginForm("CreatePatient", "Services", FormMethod.Post, new { @class = "mx-5" }))
                                       {
                                           @Html.ValidationSummary()
                                           @Html.AntiForgeryToken()
                                           <div class="form-group">
                                               <label for="Gender">Gender</label>
                                                     <select name="Gender" id="Gender" class="form-control">
                                                        <option value='H'>H</option>
                                                        <option value='F'>F</option>
                                                     </select>
                                               <label for="Dob">Date of birth</label>
                                               <input type="date" class="form-control" id="Dob" name="Dob" placeholder="Date of Birth">
                                               <input type="text" class="form-control" id="FName" name="FName" placeholder="First Name">
                                               <input type="text" class="form-control" id="LName" name="LName" placeholder="Last Name">
                                               <input type="text" class="form-control" id="Address" name="Address" placeholder="Address">
                                               <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Phone">
                                           </div>
                                           <button type="submit" class="btn btn-primary my-2">Create</button>
                                       }
                                   </div>
                               </li>
                           </ul>
                       </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="services-ouptut" class="ms-4 d-grid container">
            <!-------------------------------------->
            <!-- Toasts group -->
            <!-- Toast for copy to clipboard -->
            <div class="toast" id="copiedToast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="mr-auto">Id Copied &nbsp;</strong>
                    <button type="button" class="ml-2 mb-1 close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    The Patient Id has been copied to the clipboard.
                </div>
            </div>
            <!--End of Toasts groupd -->
            <!-------------------------------------->
            @if (ViewBag.PatientCreatedConfirmation != null)
            {
                <div class="alert alert-success" id="confirmation-message">
                    @ViewBag.PatientCreatedConfirmation
                </div>
            }
                
            <div class="row">
                @if (!Model.IsNullOrEmpty() && Model.Count > 0)
                {
                    foreach (var patient in @Model)
                    {
                        <div class="patient-card card-body primary-border rounded m-3 p-3">
                            <i class="fa-regular fa-user">&nbsp;</i>
                            <span title="@patient.Id">Id: @TruncateUserId(patient.Id, 28) &nbsp;</span>
                            <button title="Copy to clipoard" class="btn btn-primary" onclick="copyToClipboard('@patient.Id')">
                                <i class="fa-solid fa-copy fs-6"></i>
                            </button>
                            <ul>
                                <li>Gender: @patient.Gender</li>
                                <li>First Name: @patient.FName</li>
                                <li>Last Name: @patient.LName</li>
                                <li>Date of Birth: @patient.Dob</li>
                                <li>Address: @patient.Address</li>
                                <li>Phone: @patient.Phone</li>
                            </ul>
                        </div>
                    }
                }
                else
                {
                    <div class="card-body primary-border rounded w-25 m-3 p-3">
                        <p>No data found</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
   
  function displayPatientCreationForm() {
             const dropdownMenu = document.querySelector('.dropdown-submenu');
              dropdownMenu.classList.toggle('hide');  
  }
  
  
      document.addEventListener('readystatechange', function () {
          var confirmationMessage = $("#confirmation-message");
                    
                    if (confirmationMessage.length > 0) {
                        confirmationMessage.fadeIn();
          
                        setTimeout(function () {
                            confirmationMessage.fadeOut();
                        }, 5000);
                    }
  });
  
   function copyToClipboard(text) {
           const el = document.createElement('textarea');
           el.value = text;
           document.body.appendChild(el);
           el.select();
           document.execCommand('copy');
           document.body.removeChild(el);
   
           const toastElement = document.getElementById('copiedToast');
           const toast = new bootstrap.Toast(toastElement);
           toast.show();
   
 
           const closeBtn = toastElement.querySelector('.close');
           closeBtn.addEventListener('click', function () {
               toast.hide();
           });
   
           setTimeout(function () {
               toast.hide();
           }, 2000); 
       }
  
      //Blur background effect
      let isDropdownOpen = false;
  
      function blurContent() {
          const content = document.querySelector('#services-ouptut');
          content.classList.add('blur');
      }
  
      function unblurContent() {
          const content = document.querySelector('#services-ouptut');
          content.classList.remove('blur');
      }
  
      const dropdownButton = document.querySelector('.dropdown-toggle');
      const dropdownMenu = document.querySelector('.dropdown-menu');
  
      dropdownButton.addEventListener('click', function() {
          if (isDropdownOpen) {
              unblurContent();
          } else {
              blurContent();
          }
          isDropdownOpen = !isDropdownOpen;
      });
  
      // Add a click event listener to the document to unblur content when clicked outside the dropdown
      document.addEventListener('click', function(event) {
          if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
              unblurContent();
              isDropdownOpen = false;
          }
      });
  </script>
}