@model MediScreenFront.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2 class="m-4">Login</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class="login-form mx-4" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Password)
        <div class="input-group">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "password-input" })
            <span class="input-group-btn" style="position: absolute; right: 6px; top: 0; z-index: 10">
                <button type="button" class="btn btn-default" id="toggle-password"><i class="fa-solid fa-eye"></i></button>
            </span>
        </div>
    </div>



    <button type="submit" class="btn btn-primary my-2">Login</button>
}

<div class="m-4">
    <p>You don't have an account yet ? <a href="/Account/Register">Register</a></p>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Function to toggle password visibility
            function togglePasswordVisibility() {
                var passwordInput = document.getElementById("password-input");

                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                } else {
                    passwordInput.type = "password";
                }
            }

            // Toggle password visibility when the button is clicked
            var toggleButton = document.getElementById("toggle-password");
            toggleButton.addEventListener("click", function () {
                togglePasswordVisibility();
            });
        });
    </script>
}